<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Node Starter</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <%- include("partials/navbar.ejs") %>
    
    <ul>
        <% userPosts.forEach( (post) => {  %>
            <div class="post">
                <li>
                    <div class="image">
                        <img src="<%= post['path'] %>">
                    </div>
                    <div class="about">
                        <div class="info">
                            <h1 class="username"><%= post['user'] %></h1> 
                            <h2 class="location"><%= post['location'] %></h2>
                        </div>
                        <div class="time">
                            <h2><%= post['time'] %></h2>
                        </div>    
                        <div class="caption">
                            <p> <%= post['caption'] %></p>
                        </div>
                        <div class="likeComment">
                            <button><h2 class="likes">Likes: <%= post['likes'] %> </h2></button>
                            <% if (post['comments']){%>
                                <h2 class="comments">Comments: <%= post['comments'].length %> </h2> 
                            <% }%>
                        </div>
                    </div>
                </li>
            </div>
        <% }); %>
    </ul>

    <!-- load local js -->
    <script src="/main.js"></script>
    
</body>
</html>
