<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title><%= post.user %>'s Post</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/logo.png">
</head>

<body>
    <%- include("partials/navbar.ejs", { uid: uid }) %>

        <ul>
            <div class="post">
                <div class="image">
                    <img src="<%= post['path'] %>">
                </div>
                <div>
                    <li>
                        <div class="info">
                            <h1 class="username">
                                <%= post['user'] %>
                            </h1>
                            <h2 class="location">
                                <%= post['location'] %>
                            </h2>
                        </div>
                        <div class="time">
                            <h2>
                                <%= post['time'] %>
                            </h2>
                        </div>
                        <div class="animal">
                            <h2>
                                <%= post['animal'] %>
                            </h2>
                        </div>
                        <div class="caption">
                            <p>
                                <%= post['caption'] %>
                            </p>
                        </div>
                        <!-- <div>
                            <p>
                                Likes: <%= post['likes'] %>
                            </p>
                        </div> -->
                        <div class="likeComment">
                            <nobr>
                                <form class="likeForm" action="/like" method="post">
                                    <input type="hidden" name="postTime" value="<%= post['time'] %>">
                                    <input type="hidden" name="postid" value="<%= post.PID%>">
                                    <div class="buttonDiv">
                                        <button type="image" class="likeButton"><img src="/like.png" alt="Like" width="50px"></button>
                                    </div>
                                    <div class="likeDiv">
                                        <h2 class="likes">
                                            <%= post['likes'] %>
                                        </h2>
                                    </div>
                                </form>
                            </nobr>
                        </div>
                        <br>
                        <div>
                        <form action="/comment/<%=post['PID']%>" method="post">
                            <p><label>Leave a comment!
                                    <textarea rows="3" cols="30" name="comment"></textarea>
                                </label></p>
                            <p>
                                <input type="submit" value="Send comment">
                                <input type="reset" value="Reset">
                            </p>
                        </form>
                        <form action="/deletePost/<%=post['PID']%>" method="post">
                            <input type="submit" value="delete">
                        </form>
                        </div>
                    </li>
                </div>
                <%if (post.UID==uid) {%>
                    <div class="myPost">
                        <img src="/star.png" alt="Your Post" width="40px">
                    </div>
                <%}%>
            </div>
        </ul>
        <ul>
            <div class="comments">
                <h2>Comments:</h2>
                <%if (post.comments){%>
                    <% post['comments'].forEach((c)=>{ %>
                        <div>
                            <li>
                                <%=c.user%>
                            </li>
                            <li class="time">
                                <%= c.time%>
                            </li>
                            <li>
                                <%= c.comment%>
                            </li>
                            <!-- <form class="deleteComment" action="/delete-comment" method="post">
                                <div class="buttonDiv" style="float: right;">
                                    <button class="deleteComment">Delete</button>
                                </div>
                            </form> -->
                            <%if (c.UID==uid) {%>
                                <div class="myComment">
                                    <img src="/star.png" alt="Your Post" width="20px">
                                </div>
                            <%}%>
                        </div>
                        
                        <hr>
                    <%})%>
                <%}%>
            </div>
        </ul>
</body>

</html>